@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.all{
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    margin: 0;
    display: block;
}

.container_header{
    width: 100%;
    height: max-content;
    display: flex;
}



.header_title{
    width: 100%;
    height: 100px;
    display: flex;
    color: #707070;
    align-items: center;
    justify-content:space-around;
    font-family: 'Open Sans', sans-serif;
}

.bar_header{
    background-color: #9BCC50;
    width: 100%;
    height: 3px;
}

.body_board{
    display: flex;
}

.vertical_menu{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    border-left:#9BCC50 3px solid ;
    overflow: hidden;
}

.container_vertical{
    width: 100%;
    height: 100%;
}


.container_tab {
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color: #707070;
    font-size: 20px !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%; !important;
    height: 50%;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #fafbfc;
    font-family: 'Open Sans', sans-serif !important;
    display: flex !important;
    align-items: center  !important;
    justify-content: center !important;

}
.custom-tab--selected {
    color: white !important;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #9BCC50 !important;
    background-color: #9BCC50 !important;
}

.title_query{
    padding: 10px;
    padding-top: 30px;
    color: #707070;
    font-family: 'Open Sans', sans-serif;
}

.container_query{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    height: max-content;
}
.input{
    width: 70%;
    border-radius: 10px;
    border: solid 1px #707070;
    margin: 5px;
    margin-top: 0px;
    padding: 2px;
    text-align: center;
}

.button{
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    background-color: #9BCC50;
    color: white;
    border-radius: 10px;
    border: #9BCC50;
}
.button:hover{
    color: #707070;
    background-color: #f9f9f9;
    border: solid 1px #9BCC50;
}


.render_container_query{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid 3px #9BCC50 ;
    border-bottom: solid 3px #9BCC50 ;
}

.footer{
    width: 100%;
    height: 15px;
    background-color: #9BCC50;
}